#define the following variables
#PYTHON_LIB_PATH = path/to/python/libs
#PYTHON_INCLUDE_PATH = path/to/python/includes
#
# on armv7l the default lib path is: /usr/lib/arm-linux-gnueabihf
# on armv7l the default include path is: /usr/include/python2.7

#linux usual defaults
PYTHON_VERSION=3.10
PYTHON_LIB_PATH     = /usr/lib/python$${PYTHON_VERSION}
PYTHON_INCLUDE_PATH = /usr/include/python$${PYTHON_VERSION}
